.not-typed { 
	color: #f1c40f;	
}
.cursor-border{
	border-left:2px solid;
	animation: blink .75s step-end infinite alternate;
}

.restart{
	cursor: pointer;
}
.typed-correctly {
	color: #27ae60
}

.typed-incorrectly {
	color: red}

@keyframes blink { 
	50% { border-color: transparent; } 
}


